body{
    margin: 0%;
    padding: 0%;
}

.container{
    max-width: 2500;
    background-color: #161616;
    max-height: 2500;
    
}
.wrapper{
    height: 100%;
    max-width: 100%;
}

.links-list{
    
    width: 375px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.links-list a{
    text-align: right;
    font-family:DejaVu Sans Mono, monospace;
    font-size: 25px;
    
    color:#aded70 ;
    text-decoration: none;
}

.links-list a:hover {

    background-color: #7c7c7c;
    opacity: 0.9;
}

.image-block{
    

    width: 300px;
    height: 150px;
}
.image{
    
   width: 300px;
   height: 150px;
}


.phone{
    
    
    display: flex;
    
}
.logo_phone{
    width: 100px;
    height: 100px;
}


.insta{
   
    
    display: flex;
}
.logo_insta{
    width: 100px;
    height: 100px;
   
}


.telega{
    
    
    display: flex;
}
.logo_telega{
    width: 100px;
    height: 100px;
}

.tiktok{
   
    
    display: flex;
}
.logo_tiktok{
    width: 100px;
    height: 100px;
    
}

.google-map{    
    
    display: flex;
}
.logo-google-map{
    width: 100px;
    height: 100px;
}

.icon{
    width: 100px;
    height: 100px;
}
.info_phone{

    padding: 25px;
}

.info_telega{

    padding: 25px;
}

.info_insta{

    padding: 25px;
}

.info_tiktok{

    padding: 25px;
}

.info-google-map{

    padding: 25px;
}