body{
    margin: 0%;
    padding: 0%;
}

.container{
    max-width: 100%;
    background-image: url("background1.jpg") ;
    background-size: cover;
    background-position: center;
    height: 100%;
}
.wrapper{
    height: 100%;
    max-width: 100%;
}

.links-list{
    
    position: fixed;
    right: -50px;
    margin-right:50px;
    width: 600px;
    float: right;
    height: 100%;
    min-width: px;
    font-size: 25px;
    
    
}
.links-list a{
    text-align: right;
    font-family:DejaVu Sans Mono, monospace ;
    text-decoration: none;
    
    color: #aded70;
}

.links-list a:hover {

    background-color: #7c7c7c;
    opacity: 0.5;
}



.image-block{
    
    float: right;
    width: 300px;
    height: 150px;
}
.image{
    
   width: 300px;
   height: 150px;
}


.phone{
    margin-top: 100px;
    
    display: flex;
    
}
.logo_phone{
    width: 100px;
    height: 100px;
}


.insta{
    margin-top: 30px;
    
    display: flex;
}
.logo_insta{
    width: 100px;
    height: 100px;
   
}


.telega{
    margin-top: 30px;
    
    display: flex;
}
.logo_telega{
    width: 100px;
    height: 100px;
}

.tiktok{
    margin-top: 30px;
    
    display: flex;
}
.logo_tiktok{
    width: 100px;
    height: 100px;
    
}

.google-map{    
    margin-top: 30px;
    display: flex;
}
.logo-google-map{
    width: 100px;
    height: 100px;
}

.info_phone{

    padding: 25px;
}

.info_telega{

    padding: 25px;
}

.info_insta{

    padding: 25px;
}

.info_tiktok{

    padding: 25px;
}

.info-google-map{

    padding: 25px;
}








@media (max-width: 1300px) {
    .container{
        max-width: 100%;
        background-image: url("background1.jpg") ;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .links-list a{
        text-align: right;
        font-family:DejaVu Sans Mono, monospace;
        font-size: 25px;
        padding: 5px;
        color: #aded70;
        text-decoration: none;
    }
    .phone{
        margin-top: 100px;
    
    display: flex;
    }
    .links-list{
        position:fixed;
        right: -200px;
        margin-right:50px;
        width: 600px;
        float: right;
        height: 100%;
        min-width: px;
        font-size: 25px;
    
    }

}



@media (max-height: 600px) {
    .container{
        max-width: 100%;
        background-image: url("background1.jpg") ;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    
    .phone{
        margin-top: 100px;
        
        display: flex;
        
    }

    .tiktok{
        margin-top: 0px;
        
        display: flex;
    }
    .insta{
        margin-top: 0px;
        
        display: flex;
    }
    .telega{
        margin-top: 0px;
        
        display: flex;
    }
    .google-map{
        margin-top: 0px;
        
        display: flex;
    }


    .logo_phone{
        width: 70px;
        height: 70px;
    }
    .logo_telega{
        width: 70px;
        height: 70px;
    }
    .logo_insta{
        width: 70px;
        height: 70px;
    }
    .logo_tiktok{
        width: 70px;
        height: 70px;
    }
    .logo-google-map{
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 550px){
    .container{
        max-width: 100%;
        background-image: url("background1.jpg") ;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .links-list a{
        font-size: 25px;
        font-family: DejaVu Sans Mono, monospace;
    }

    .links-list{
        right:-300px;

    }


 .phone{
        margin-top: 80px;
        
        display: flex;
        
    }

    .tiktok{
        margin-top: 0px;
        
        display: flex;
    }
    .insta{
        margin-top: 0px;
        
        display: flex;
    }
    .telega{
        margin-top: 0px;
        
        display: flex;
    }
    .google-map{
        margin-top: 0px;
        
        display: flex;
    }


    .logo_phone{
        width: 70px;
        height: 70px;
    }
    .logo_telega{
        width: 70px;
        height: 70px;
    }
    .logo_insta{
        width: 70px;
        height: 70px;
    }
    .logo_tiktok{
        width: 70px;
        height: 70px;
    }
    .logo-google-map{
        width: 70px;
        height: 70px;
    }
}


@media (max-width: 300px){
    .container{
        max-width: 100%;
        background-image: url("background1.jpg") ;
        background-size: cover;
        background-position: center;
        height: 100%;
    }
    .links-list a{
        text-align: right;
        font-family:DejaVu Sans Mono, monospace;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        color: #aded70;
    }

    .links-list{
        position:fixed;
        right: -60px;
        margin-right:50px;
        width: 300px;
        float: right;
        height: 100%;
        min-width: px;
    }
 .phone{
        margin-top: 150px;
        
        display: flex;
        
    }
    .info_phone{
        margin-top: 10px;
        padding: 22px;
    }
    .tiktok{
        margin-top: 0px;
        
        display: flex;
    }
    .insta{
        margin-top: 0px;
        
        display: flex;
    }
    .telega{
        margin-top: 0px;
        
        display: flex;
    }
    .google-map{
        margin-top: 0px;
        
        display: flex;
    }


}